.BackgroundLogo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("headhtml.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.99999;
}

.AddDoctor {
    position: absolute;
    top : 2rem;
    background-color: #6093DF;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 0.9rem;
    border-color: black;
    border-width: 0.2rem;
    width: fit-content;
    font-size: large;
}

.ProfileButton {
    position: absolute;
    top : 3rem;
    right: 2rem;
    background-image: url("CardPicture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 5rem;
    height: 5rem;
    border-color: black;
    border-width: 4rem;
}

.DoctorCard {
    display: grid;
    margin: 3rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2rem;
    border-width: 10px;
    border-color: black;
    height: fit-content;
    width: fit-content;
}

.ProfileCard {
    background-image: url("CardPicture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 17vh;
}

.DoctorName {
    padding-top: 1rem;
}

.DoctorSpe {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.MessageButton {
    background-color: #6093DF;
    border-radius: 20px;
    color: black;
    padding: 0.7rem;
    border: none
}