.box {
  --box-position: absolute;
  --box-left: 9%;
  --box-right: 88.5%;
  --box-top: 58%;
  --box-bottom: 0%;
  --box-background: #0F6FFF;
  --box-boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-borderRadius: 35px;
  --box-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  
  position: var(--box-position);
  left: var(--box-left);
  right: var(--box-right);
  top: var(--box-top);
  bottom: var(--box-bottom);
  background: var(--box-background);
  box-shadow: var(--box-boxShadow);
  border-radius: var(--box-borderRadius);
  transform: var(--box-transform);
}

.form {
  height: 5vh;
  border-radius: 12px;
  background-color: #FFFFFF;
  border: black solid 1px;
  padding: 0 0 0 10px;
}


.settings .set-item.active {
  background-color: #6093DFB2;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  flex: auto;
}

.settings {
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.search-bar button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.search-bar button[type="submit"] i {
  font-size: 20px;
}

.message {
  border-radius: 35px;
  background: rgba(96, 147, 223, 0.70);
  position: relative;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

/* pop up */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.close-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-button:hover {
  background: #ff1a1a;
}